<% include partials/header.ejs %>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h3 class="card-header"><i class="fas fa-address-book"></i> Manage Subscriptions</h3>
      <div class="card-body">
        <p><strong>Environment:</strong> <%= environment %><br/>
        <strong>Application ID:</strong> <%= application_id %></p>
        <hr/>
        <p>To add or remove a user subscription, you will be asked to sign-in with the
        Twitter account you wish to add or remove the subscription for.</p>
        <div class="alert alert-primary" role="alert"><strong>Note:</strong> You must have a <a href="/webhook">registered webhook config</a> to add accounts, and you must have whitelisted the callback URLs for your app following the setup instructions.</div>
      </div>
      <div class="card-footer">
        <a href="/subscriptions/add" class="btn btn-success"><i class="fas fa-user-plus"></i> Add</a>
        <a href="/subscriptions/remove" class="btn btn-warning"><i class="fas fa-user-times"></i> Remove</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h3 class="card-header"><i class="fas fa-users"></i> All Subscriptions</h3>
      <% if(subscriptions.length) { %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <% subscriptions.forEach(function(sub) { %>
          <tr>
            <td><%= sub.id_str %></td>
            <td><a href="https://twitter.com/<%= sub.screen_name %>" target="_blank">@<%= sub.screen_name %></a></td>
            <td><%= sub.name %></td>
          </tr>
         <% }); %>
        </tbody>
      </table>
      <% } else { %>
      <div class="card-body">
        <p>No subscriptions exist. Add one above.</p>
      </div>
      <% } %>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
