<% include partials/header.ejs %>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h3 class="card-header"><i class="fas fa-cog"></i> Manage Webhook</h3>
      <div class="card-body">

        <!-- Webhook Config Info -->
        <% if (configs.length) { %>
        <p><strong>ID:</strong> <%= configs[0].id %><br/>
        <strong>URL:</strong> <%= configs[0].url %><br/>
        <strong>Valid:</strong> <%= configs[0].valid %><br/>
        <strong>Date Created:</strong> <%= configs[0].created_timestamp %></p>
        <% } else { %>
        No webhook config registered. Register one below.
        <% } %>
        <hr/>

        <!-- Update Config -->
        <h5>Create or Update Webhook</h5>
        <form id="update-form" method="post" action="/webhook/update">
          
          <!-- if config exists -->
          <% if (configs.length) { %>
          <div class="form-group mx-sm-6 mb-2">
            <input name="url" type="text" class="form-control" value="<%= configs[0].url %>">
          </div>
          <input name="webhook_id" type="hidden" class="form-control" value="<%= configs[0].id %>">
          <p>Your current webhook config will be deleted before creating a new one. If the new
          webhook config is not valid, you may experience some down time until you can resolve it.</p>

          <!-- if no config exists -->
          <% } else { %>
          <div class="form-group mx-sm-6 mb-2">
            <input name="url" type="text" class="form-control" placeholder="https://your/secure/webhook/url">
          </div>
          <% } %>

          <input type="hidden" name="_csrf" value="<%= csrf_token %>">
        </form>
      </div>
      <div class="card-footer">
        <button id="update-btn" type="submit" form="update-form" class="btn btn-primary"><i class="fas fa-edit"></i> Create/Update</button>
      </div>
    </div>
  </div>
</div>

<% if (configs.length) { %>

<!-- Validate Config -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h3 class="card-header"><i class="fas fa-check"></i> Validate Webhook</h3>
      <div class="card-body">
        <p>Trigger a challenge request from the Twitter webhook server to your
        registered webhook URL. Helpful if you need to manually trigger validation to re-enable your webhook.</p>
        <form id="validate-form" method="post" action="/webhook/validate">
          <input type="hidden" name="_csrf" value="<%= csrf_token %>">
          <input name="webhook_id" type="hidden" class="form-control" value="<%= configs[0].id %>">
        </form>
      </div>
      <div class="card-footer">
        <button id="delete-btn" type="submit" form="validate-form" class="btn btn-warning"><i class="fas fa-check"></i> Validate</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Config -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h3 class="card-header"><i class="fas fa-trash-alt"></i> Delete Webhook</h3>
      <div class="card-body">
        <p>By deleting your webhook, you will no longer receive Account Activity events
        for all users your webhook is subscribed to. Proceed with caution.</p>
      </div>
      <div class="card-footer">
        <button id="delete-btn" type="submit" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal"><i class="fas fa-trash-alt"></i> Delete</button>
      </div>
    </div>
  </div>
</div>

<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-white bg-danger">
        <h5 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Caution</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete your webhook config? You will no longer receive Account Activity events
        for all users your webhook is subscribed to. Proceed with caution.</p>
      </div>
      <div class="modal-footer">
        <form method="post" action="/webhook/delete">
          <input type="hidden" name="_csrf" value="<%= csrf_token %>">
          <input name="webhook_id" type="hidden" class="form-control" value="<%= configs[0].id %>">
          <button id="delete-btn" type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
        </form>
        <button id="cancel-btn" type="submit" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-arrow-right"></i> Cancel</button>
      </div>
    </div>
  </div>
</div>

<% } %>

<% include partials/footer.ejs %>
